<h1>Producir productos</h1>
<p>Saldo: <%= number_with_delimiter(@saldo, delimiter: "." )%> CLP</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Nombre</th>
      <th>Precio unitario (CLP)</th>
      <th>Lote de produccion</th>
      <th>Tiempo de produccion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product["sku"] %></td>
        <td><%= product["name"] %></td>
        <td><%= product["unitPrice"] %></td>
        <td><%= product["lot"] %></td>
        <td><%= product["productionTime"] %></td>
        <td>
          <%= form_tag({controller: "admin", action: "produce"}, method: "post", class: "form-inline") do %>
            <input type="hidden" name="amount" value="<%= product['unitPrice'] %>">
            <input type="hidden" name="sku" value="<%= product['sku'] %>">
            <input type="hidden" name="lot" value="<%= product['lot'] %>">
            <div class="form-group">
              <input type="number" name="quantity" class="form-control" value="1" min="1">
            </div>
            <input type="submit" class="btn btn-small btn-primary" <% if !product['productionOK'] %>disabled<% end%> value="Producir">
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
function actualiseProductionAmount(form)
{
  var unitPrice = form.find('input[name="amount"]')[0].value;
  var lot = form.find('input[name="lot"]')[0].value;
  var quantity = form.find('input[name="quantity"]')[0].value;
  var submit = form.find('input[type="submit"]')[0];
  var cost = unitPrice*lot*quantity
  submit.value = 'Producir por ' + cost.formatMoney(2, ',', '.') + ' CLP';
}

$(document).ready(function() {
  var quantityInputs = $('input[name="quantity"]');

  quantityInputs.each(function(index) {
    var form = $(this).parent().parent();
    actualiseProductionAmount(form);

    $(this).change(function(){
      actualiseProductionAmount(form);
    })
  })
})
</script>
