<h1>Comprar productos</h1>
<p>Saldo: <%= number_to_currency(@saldo, unit: "CLP$", separator: ",", delimiter: ".", format: "%n %u") %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>SKU</th>
      <th>Nombre</th>
      <th>Precio unitario (CLP)</th>
      <th>Numero de grupo</th>
      <th>Stock disponible</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product['sku']%></td>
        <td><%= product['name']%></td>
        <td><%= product['unitPrice']%></td>
        <td><%= product['group']%></td>
        <td><%= product['stock']%></td>
        <td>
          <%= form_tag "/bodega/admin/purchase", method: "post" do %>
            <input type="hidden" name="amount" value="<%= product['required'] %>">
            <input type="hidden" name="sku" value="<%= product['sku'] %>">
            <input type="hidden" name="unitPrice" value="<%= product['unitPrice'] %>">
            <input type="hidden" name="provider" value="<%= product['group'] %>">
            <input type="submit" class="btn btn-small btn-primary" <% if !product['buyOK'] %>disabled<% end%> value="Comprar <%= product['required'] %> para <%= product['unitPrice']*product['required']%> CLP"></a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
