<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Espacio utilizado</h3>
      <p><b><%= @almacen[almacen]["usedSpace"] %> / <%= @almacen[almacen]["totalSpace"] %></b></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= @almacen[almacen]["porcentaje"] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @almacen[almacen]["porcentaje"] %>%;">
          <%= @almacen[almacen]["usedSpace"] %> / <%= @almacen[almacen]["totalSpace"] %>
        </div>
      </div>
    <h3>Productos en stock</h3>
      <ul>
        <% if @stock[almacen].empty? %>
          <li>No hay productos en el almacen</li>
        <% end %>
        <% @stock[almacen].each do |product| %>
          <li><%= product['_id']%> : <%= product['total'] %></li>
        <% end %>
      </ul>
  </div>
</div>
