<h1>Ordenes de compra</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
  <li role="presentation" class="active"><a href="#creadas" aria-controls="home" role="tab" data-toggle="tab">Creadas</a></li>
  <li role="presentation"><a href="#aceptadas" aria-controls="profile" role="tab" data-toggle="tab">Aceptadas</a></li>
  <li role="presentation"><a href="#rechazadas" aria-controls="messages" role="tab" data-toggle="tab">Rechazadas</a></li>
  <li role="presentation"><a href="#finalizadas" aria-controls="settings" role="tab" data-toggle="tab">Finalizadas</a></li>
  <li role="presentation"><a href="#anuladas" aria-controls="settings" role="tab" data-toggle="tab">Anuladas</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active fade in" id="creadas">
    <%= render partial: "shared/list_oc", :object => @ordenes['creada'] %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="aceptadas">
    <%= render partial: "shared/list_oc", :object => @ordenes['aceptada'] %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="rechazadas">
    <%= render partial: "shared/list_oc", :object => @ordenes['rechazada'] %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="finalizadas">
    <%= render partial: "shared/list_oc", :object => @ordenes['finalizada'] %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="anuladas">
    <%= render partial: "shared/list_oc", :object => @ordenes['anulada'] %>
  </div>
</div>
