<h1>Bodegas de los Cuates del Tequila</h1>

<h2>Bodega de recepcion</h2>
<%= render partial: "shared/almacen", :object => 'recepcion' %>
<h2>Bodega de despacho</h2>
<%= render partial: "shared/almacen", :object => 'despacho' %>
<h2>Bodega pulmon</h2>
<%= render partial: "shared/almacen", :object => 'pulmon' %>
<h2>Bodega X</h2>
<%= render partial: "shared/almacen", :object => 'X' %>
<h2>Bodega Y</h2>
<%= render partial: "shared/almacen", :object => 'Y' %>
