<!DOCTYPE html>
<html>
<head>
  <title>IIC3103Rails10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Los Cuates del Tequila</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if controller.controller_name == "pages" %>
            <li
              <% if current_page?(:controller => 'pages', :action => 'home') %>
                class="active"
              <% end %>
            ><a href="/">Ordenes de compra</a>
            </li>
            <li
              <% if current_page?(:controller => 'pages', :action => 'warehouses') %>
                class="active"
              <% end %>
            ><a href="/bodegas">Estado de las bodegas</a>
            </li>
          <% elsif controller.controller_name == "admin" %>
            <li
              <% if current_page?(:controller => 'admin', :action => 'index') %>
                class="active"
              <% end %>
            ><a href="/admin/index">Estado de bodegas</a>
            </li>
            <li
              <% if current_page?(:controller => 'admin', :action => 'production') %>
                class="active"
              <% end %>
            ><a href="/admin/produccion">Produccion</a>
            </li>
            <li
              <% if current_page?(:controller => 'admin', :action => 'purchase') %>
                class="active"
              <% end %>
            ><a href="/admin/compras">Compras</a>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/index">Admin</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
      <%= render partial: "shared/flash", object: flash %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
